.button {
    background-color: #585076;
    border: #c4c4c4 1px solid;
    color: #c4c4c4;
    height: 8vh;
    width: 12vw;
    font-size: 23px;
    margin: 5px;
    border-radius: 10px;
  }
  .buttons-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 576px) {
    .button {
      height: 7vh;
      width: 20vw;
      font-size: 15px;
      margin: 10px;
      border-radius: 4px;
    }
    .buttons-container {
      display: flex;
      justify-content: space-between;
    }
  }
  