.main-container {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
  }
  
  .app-container {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 60%;
  }
  .container {
    background-color: #150b3e;
    border-radius: 20px;
    width: 60%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .header-section {
    display: flex;
    flex-direction: row;
  }
  .letter {
    background-color: #c7d2fe;
    height: 5vh;
    width: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 200px;
    color: #7c3aed;
    margin-right: 20px;
    font-size: 20px;
  }
  .name {
    color: #d4d2db;
    font-size: 25px;
    margin-top: 30px;
  }
  .account-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .balance {
    color: #585076;
    font-size: 25px;
    padding-top: 10px;
  }
  .number {
    color: white;
    font-size: 33px;
  }
  .rupee {
    color: #585076;
    font-size: 19px;
  }
  .withdraw-container {
    display: flex;
    flex-direction: column;
  }
  .withdraw {
    color: #c4c4c4;
    font-size: 29px;
  }
  .sum {
    color: #382f5a;
    font-size: 21px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 576px) {
    .main-container {
      background-color: black;
      height: 100vh;
      font-family: 'Roboto';
    }
    .app-container {
      width: 100%;
    }
    .container {
      width: 80%;
      margin: 10px;
      display: flex;
      flex-direction: column;
      padding: 20px;
      height: 80%;
    }
    .letter {
      height: 6vh;
      width: 9vw;
      border-radius: 100px;
      margin-right: 10px;
      padding: 3px;
    }
    .name {
      font-size: 18px;
      padding-top: 10px;
    }
    .account-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .balance {
      color: #585076;
      font-size: 15px;
      padding-top: 4px;
    }
    .number {
      color: white;
      font-size: 15px;
    }
    .rupee {
      font-size: 7px;
    }
    .withdraw {
      font-size: 20px;
    }
    .sum {
      font-size: 17px;
    }
  }
  